@charset "UTF-8";
@import "https://jeffreymaniac.github.io/piggiesCSS/resetter.css";

*,*::before,*::after{box-sizing:border-box}
:root {
  --pig-bgcolor: #ff8aca;
  --pig-textcolor: #6b034c;
  --pig-hcolor: #1a1224;
  --pig-code-bgcolor: #6b034c;
  --pig-code-textcolor:white;
}

body{
background-color: var(--pig-bgcolor);
color: var(--pig-textcolor);
}
p{
  text-wrap:pretty;
  margin-bottom: 2rem;
}

h1,h2,h3,h4,h5,h6{
  color: var(--pig-hcolor,var(--pig-textcolor));
}

code{
background-color:var(--pig-code-bgcolor);
color:var(--pig-code-textcolor);
}
